ModeratelyUsefulBot/data/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bots">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="bot">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="logName" type="xs:string" />
                                        <xs:element name="fallbackMessage" type="xs:string" minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="commands">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="command">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="name" type="xs:string" />
                                                                <xs:element name="action" type="xs:string" />
                                                                <xs:element name="adminOnly" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="admins">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="admin" type="xs:unsignedInt" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="spotify">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="playlist">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="user" type="xs:string" />
                                        <xs:element name="id" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="log">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="consoleLevel" type="xs:string" />
                            <xs:element name="fileLevel" type="xs:string" />
                            <xs:element name="logTimes" type="xs:boolean" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>