ModeratelyUsefulBot/data/credentials.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="credentials" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="credentials">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="bots">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="bot">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="token" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="spotify">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="auth">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="clientId" type="xs:string" />
                                        <xs:element name="clientSecret" type="xs:string" />
                                        <xs:element name="refreshToken" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="reddit">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="auth">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="username" type="xs:string" />
                                        <xs:element name="password" type="xs:string" />
                                        <xs:element name="clientId" type="xs:string" />
                                        <xs:element name="clientSecret" type="xs:string" />
                                        <xs:element name="redirectUri" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>